body,
html {
  background-color: rgb(255, 255, 255);
  font-family: "Staatliches", cursive;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  min-height: 200px;
}

.color-1 {
  background-color: rgb(64, 0, 167);
}

.color-2 {
  background-color: #000000;
}

section {
  height: auto;
  width: 100%;
}

section > div {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  padding: 30px 20px;
}

.center {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 100px;
  background-color: rgb(255, 255, 255);
}

.section-title {
  font-size: 50px;
  color: #c4b454;
  padding-top: 90px;
  text-align: center;
}

.icon-container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
}

.topic-box {
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  max-width: 500px;
  max-height: 500px;
}

.topic-brand {
  padding: 20px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topic-header {
  display: block;
  color: white;
  width: auto;
  height: 100%;
  padding: 0px 10px 0px 10px;
  text-align: left;
}

.description {
  text-align: left;
  display: block;
  color: white;
  font-size: 20px;
  width: auto;
}

ul.description li {
  padding: 5px;
}

@media screen and (max-width: 767px) {
  section > div {
    justify-content: center;
    flex-wrap: wrap;
  }

  .topic-brand {
    justify-content: center;
  }

  .topic-box {
    max-width: 560px;
  }

  .topic-box {
    margin: 20px 10px;
  }
}

/* Navigation Bar */

nav {
  width: 100%;
  height: auto;
  margin: 0px auto;
  position: fixed;
}

.navbar {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  /*box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);*/
  position: fixed;
  display: block;
  top: -80px;
  transition: top 1s;
  z-index: 3;
}

.navbar-brand,
.navbar-brand:hover {
  color: #c4b454;
  position: fixed;
  margin: 5px 0px;
  padding: 0px;
}

.nav-item {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: 600;
  margin: 0px 20px;
}

.nav-link {
  color: #c4b454;
  width: auto;
  margin: 0px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 7px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.nav-link:hover:after {
  transform: scaleX(0.95);
}

.nav-link::after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffffff;
  transform: scaleX(0);
  transition: 500ms ease-in-out;
  transform-origin: 0% 50%;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }

  nav div,
  .nav-list,
  .navbar-nav {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
}

/* Landing Page */
#landingPage {
  height: 100%;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#landing-title {
  height: 200px;
  display: block;
  text-align: center;
  margin: 0px;
}

/*Projects*/
#projects {
}

section#projects > div {
  display: block;
}

.project-img {
  width: 300px;
  height: 300px;
  position: relative;
}

.carousel {
  width: 300px;
  height: 300px;
  position: relative;
}
.project-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  min-height: 400px;
  margin: 0px 50px 50px 50px;
}
@media screen and (min-width: 1170px) {
  .carousel:hover {
    transform: scale(1.5);
    transition: 1s;
  }
}

@media screen and (max-width: 955px) {
  .project-img,
  .carousel {
    width: 400px;
    height: 400px;
  }
}
/*Experience*/
#experience {
}

/*Skills*/
#skills {
}

/*Footer*/
#footer {
  height: auto;
  display: block;
  width: 100%;
  background-color: #2a2828;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials a {
  margin: 10px;
}
